<div class="container">
  <div class="mt-5 row justify-content-center">
    <div class="col-auto">
      <p class="text-center">
      　<strong>本当に退会しますか？</strong><br>
      　<br>
        退会すると、会員登録情報や<br>
        これまでの購入履歴が閲覧できなくなります。<br>
        退会するには「退会する」をクリックしてください。<br>
      </p>
    </div>
  </div>
  <div class="row  justify-content-around">
    <%= form_with model: @customer_show, url: customers_withdraw_path do |f| %>
    <div class="col-auto">
      <%= f.hidden_field :is_deleted, :value => true %>
      <%= f.submit '退会する', class: "btn btn btn-danger"  %>
    </div>
     <% end %>

    <div class="col-auto">
      <%= link_to '退会しない', my_page_path, class: "btn btn btn-primary"  %>
    </div>

  </div>

</div>