<h2>商品一覧</h2>
<%#= items.where('created_at > ?', Date.today).count, url: items_path %>
<%# end %>
<table>
  <thead>
  </thead>
  <tbody>
  <% @items.each do |item| %>
    <td>
    <%= image_tag item.get_item_image %>
    </td>
    <td>
    <%= link_to item_path(item) do %>
      <%= item.name %>
    <% end %>
    </td>
    <td>
    ¥<%= item.add_tax_price.to_s(:delimited) %>
    </td>
  </tbody>
  <% end %>
</table>
