<h1>Public::Items#show</h1>
<p>Find me in app/views/public/items/show.html.erb</p>

<div>
  
  <p>商品名：<%= @item_show.name %></p>
  <p>商品説明：<%= @item_show.introduction %></p>
  <p>税抜価格：<%= @item_show.price %></p>
  <%#= link_to "編集する", edit_admin_item_path(@item_show)  %>
</div>